/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field:focus + div > div {
  width: 100%;
}

@keyframes expandUnderline {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
