/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field:focus + div > div {
  width: 100%;
}

@keyframes expandUnderline {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.bounce-loader {
  animation: bounce 0.6s infinite alternate;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}
.animation-delay-400 {
  animation-delay: 0.4s;
}

.pulse-loader {
  animation: pulse 1.5s infinite;
}
